<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="accBean" class="myproject.postprocessorbean.beans.Account" >
 <property name="accNo" value="123456"/>
 <property name="accHolderName" value="Himanshu"/>
 <!--  <property name="accType" value="Savings"/>-->
 <property name="balance" value="60000"/>
 <property name="accHolderEmail" value="himanshu"/>
 <property name="accHolderMobileNo" value="7894561230"/>
 
 
 </bean>
 <bean id="accPostProcessor" class="myproject.postprocessorbean.processor.AccountPostProcessor"></bean>
 </beans>